:root {
  --color1: #4a6881;
  --color2: #575f67;
  --color3: #dde7f0;
  --color4: #5b6f81;
};

html,

body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: "Roboto", "Open Sans", sans-serif;
  color: #545454;
  text-align: justify;
  //background-color: #F0F0F0;
  background-color: linear-gradient(lightgray, aliceblue);
  height:100%;
}

.header{
    font-family: "Roboto", "Open Sans", sans-serif, "Work Sans";
    background-color: var(--color2);
    background-image: linear-gradient(to bottom, var(--color2), var(--color1));
    color:white;
}

.title{font-size: 1.3em; font-weight:600;}
.subtitle{font-size: 1em; }
.intro{font-size: 0.8em; color:antiquewhite}

.social{
    text-align:left;
    //background-color: darkgray;
}
    
.social a{
      display: inline;
      text-align: left;
      transition: all 0.3s ease;
      color:var(--color1);
}
.social a:hover{
    color:dodgerblue;
    font-size: 1em; /* for effect */
    
}


.navbar{
    font-size: 1em;
    font-family: "Roboto", "Open Sans", sans-serif;
    background-color: white; // var(--color1);
    background-image: linear-gradient(to bottom, var(--color3), white);
    color: var(--color1); // white;
    border-top: 2px solid var(--color2);
    border-bottom: 1px solid;
}

.navbar-nav{
    color:white;
    text-align: center; 
    border-left: 0px solid; 
}

.nav-item a:link{color:var(--color1); border-left:1px;}
.nav-item a:visited{color:var(--color1);}
.nav-item a:hover{background-color:var(--color1); color:white}
.nav-item a:active{color:var(--color1);}


.main{
    position:sticky;
    font-size: 1em;
    height: 100%;  
    background-color:white;
    font-family: "Roboto", "Open Sans", sans-serif;
    //background-color: aliceblue;
}


.heading{
    font-size: 1.2em; background-color: var(--color1); color: white; text-align: left; font-family: "Work Sans"; font-weight:600; border-bottom: 0px solid var(--color4); background-image: linear-gradient(to right, var(--color1), var(--color3));
}

.section{
    background-color: #ffffff;
    border-color: var(--color1);
    border: 0px solid;
}
.section h1{font-size: 1.2em; color: var(--color1); text-align: left; font-family: "Work Sans"; font-weight:600}
.section h2{font-size: 1.1em;  color: var(--color1); text-align: left;}
.section h3{font-size: 1.0em;  color: var(--color1); text-align: left;}
.section p{font-size: 1.0em;  color: #545454; text-align: justify;}

ul li {font-size: 1.0em;  color: #545454; text-align: justify;}


.paper{
    border-left: 6px solid var(--color1);
    //background-color: var(--color3);
    //box-shadow: 2px 2px var(--color2);
    background-image: linear-gradient(to right, var(--color3), white);
}
.papertitle{
      display: inline;
      text-align: left;
      transition: all 0.3s ease;
      color:dodgerblue;
}
.papertitle:hover{
    color:var(--color1);    
}


.footer {
    //border-top: 1px solid black;
    font-size:0.8em;
    text-align: center;
    background-color: var(--color1);
    background-image: linear-gradient(to bottom, var(--color2), var(--color1));
    color:white;
}

/* ==================================
   Block Quotes
   =================================*/
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


/* ==================================
   Timeline
   =================================*/

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: var(--color1);
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 1em 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: var(--color1);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

